name: FTR E2E Dashboards Reporting Plugin Test

on: [pull_request, push]

env:
  CI: 1
  # avoid warnings like "tput: No value for $TERM and no -T specified"
  TERM: xterm
  OPENSEARCH_DASHBOARDS_VERSION: 'main'
  PLUGIN_NAME: dashboards-reporting

jobs:
  tests:
    name: Run FTR E2E Dashboards Reporting Plugin Tests
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        jdk: [21]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.jdk }}

      - name: Checkout OpenSearch Dashboards
        uses: actions/checkout@v4
        with:
          path: OpenSearch-Dashboards
          repository: opensearch-project/OpenSearch-Dashboards
          ref: ${{ env.OPENSEARCH_DASHBOARDS_VERSION }}
          fetch-depth: 0

      - name: Checkout Dashboards Reporting Plugin in OpenSearch Dashboards Plugins Dir
        uses: actions/checkout@v4
        with:
          path: OpenSearch-Dashboards/plugins/${{ env.PLUGIN_NAME }}

      - name: Set env
        run: |
          opensearch_version=$(jq -r '.opensearchDashboards.version' package.json)
          plugin_version=$(jq -r '.version' package.json)
          echo "OPENSEARCH_VERSION=$opensearch_version" >> $GITHUB_ENV
          echo "PLUGIN_VERSION=$plugin_version" >> $GITHUB_ENV
        shell: bash
        working-directory: OpenSearch-Dashboards/plugins/${{ env.PLUGIN_NAME }}

      - name: Download Job Scheduler artifact
        shell: bash
        run: |
          BASE="https://ci.opensearch.org/ci/dbc/snapshots/maven"
          GROUP_PATH="org/opensearch/plugin"
          ARTIFACT="opensearch-job-scheduler"
          VERSION="${{ env.PLUGIN_VERSION }}-SNAPSHOT"
          
          METADATA_URL="$BASE/$GROUP_PATH/$ARTIFACT/$VERSION/maven-metadata.xml"
          SNAPSHOT_VALUE=$(curl -fsSL "$METADATA_URL" | grep -A1 '<extension>zip</extension>' | grep '<value>' | sed 's/.*<value>\(.*\)<\/value>.*/\1/')
          
          mkdir -p plugin-artifacts
          curl -fL --retry 5 -o plugin-artifacts/job-scheduler.zip "$BASE/$GROUP_PATH/$ARTIFACT/$VERSION/$ARTIFACT-$SNAPSHOT_VALUE.zip"

      - name: Download Reports Scheduler artifact
        shell: bash
        run: |
          BASE="https://ci.opensearch.org/ci/dbc/snapshots/maven"
          GROUP_PATH="org/opensearch/plugin"
          ARTIFACT="opensearch-reports-scheduler"
          VERSION="${{ env.PLUGIN_VERSION }}-SNAPSHOT"
          
          METADATA_URL="$BASE/$GROUP_PATH/$ARTIFACT/$VERSION/maven-metadata.xml"
          SNAPSHOT_VALUE=$(curl -fsSL "$METADATA_URL" | grep -A1 '<extension>zip</extension>' | grep '<value>' | sed 's/.*<value>\(.*\)<\/value>.*/\1/')
          
          mkdir -p plugin-artifacts
          curl -fL --retry 5 -o plugin-artifacts/reports-scheduler.zip "$BASE/$GROUP_PATH/$ARTIFACT/$VERSION/$ARTIFACT-$SNAPSHOT_VALUE.zip"

      - name: Download OpenSearch
        uses: peternied/download-file@v2
        with:
          url: https://artifacts.opensearch.org/snapshots/core/opensearch/${{ env.OPENSEARCH_VERSION }}-SNAPSHOT/opensearch-min-${{ env.OPENSEARCH_VERSION }}-SNAPSHOT-linux-x64-latest.tar.gz

      - name: Extract OpenSearch
        run: |
          tar -xzf opensearch-*.tar.gz
          rm -f opensearch-*.tar.gz
        shell: bash

      - name: Install Job Scheduler
        run: |
          /bin/bash -c "yes | ./opensearch-${{ env.OPENSEARCH_VERSION }}-SNAPSHOT/bin/opensearch-plugin install file:$(pwd)/plugin-artifacts/job-scheduler.zip"
        shell: bash

      - name: Install Reports Scheduler
        run: |
          /bin/bash -c "yes | ./opensearch-${{ env.OPENSEARCH_VERSION }}-SNAPSHOT/bin/opensearch-plugin install file:$(pwd)/plugin-artifacts/reports-scheduler.zip"
        shell: bash

      - name: Run OpenSearch
        run: |
          /bin/bash -c "./opensearch-${{ env.OPENSEARCH_VERSION }}-SNAPSHOT/bin/opensearch &"
          sleep 30
        shell: bash

      - name: Check OpenSearch Running on Linux
        if: ${{ runner.os != 'Windows'}}
        run: curl http://localhost:9200/
        shell: bash

      - name: Show OpenSearch Logs
        if: always()
        run: cat ./opensearch-${{ env.OPENSEARCH_VERSION }}-SNAPSHOT/logs/opensearch.log
        shell: bash

      - id: tool-versions
        run: |
          echo "node_version=$(cat .node-version)" >> $GITHUB_OUTPUT
          echo "yarn_version=$(jq -r '.engines.yarn' package.json)" >> $GITHUB_OUTPUT
        working-directory: OpenSearch-Dashboards
        shell: bash

      - uses: actions/setup-node@v1
        with:
          node-version: ${{ steps.tool-versions.outputs.node_version }}
          registry-url: 'https://registry.npmjs.org'

      - name: Setup Opensearch Dashboards
        run: |
          npm uninstall -g yarn
          echo "Installing yarn ${{ steps.tool-versions.outputs.yarn_version }}"
          npm i -g yarn@${{ steps.tool-versions.outputs.yarn_version }}
          yarn cache clean
        working-directory: OpenSearch-Dashboards
        shell: bash

      - name: Bootstrap Opensearch Dashboards
        run: |
          yarn osd bootstrap --single-version=loose
        working-directory: OpenSearch-Dashboards

      - name: Run Opensearch Dashboards with Dashboards Reporting Plugin Installed
        run: |
          echo "home.disableWelcomeScreen: true" >> config/opensearch_dashboards.yml
          echo "home.disableExperienceModal: true" >> config/opensearch_dashboards.yml
          nohup yarn start --no-base-path --no-watch | tee dashboard.log &
        working-directory: OpenSearch-Dashboards

      - name: Check If OpenSearch Dashboards Is Ready
        if: ${{ runner.os == 'Linux' }}
        run: |
          if timeout 1200 grep -q "bundles compiled successfully after" <(tail -n0 -f dashboard.log); then
            echo "OpenSearch Dashboards compiled successfully."
          else
            echo "Timeout for 1200 seconds reached. OpenSearch Dashboards did not finish compiling."
            exit 1
          fi
        working-directory: OpenSearch-Dashboards

      - name: Upload Dashboards logs
        uses: actions/upload-artifact@v4.4.0
        if: failure()
        with:
          name: dashboard.logs
          path: OpenSearch-Dashboards/dashboard.log

      - name: Checkout Dashboards Functional Test Repo
        uses: actions/checkout@v4
        with:
          path: opensearch-dashboards-functional-test
          repository: opensearch-project/opensearch-dashboards-functional-test
          ref: ${{ env.OPENSEARCH_DASHBOARDS_VERSION }}
          fetch-depth: 0

      - name: Install Cypress
        run: |
          npm install cypress --save-dev
        shell: bash
        working-directory: opensearch-dashboards-functional-test

      - name: Get Cypress version
        id: cypress_version
        run: |
          echo "::set-output name=cypress_version::$(cat ./package.json | jq '.dependencies.cypress' | tr -d '"')"
        working-directory: opensearch-dashboards-functional-test

      - name: Run Cypress tests
        run: |
          yarn cypress:run-without-security --browser chromium --spec 'cypress/integration/plugins/reports-dashboards/*.js'
        working-directory: opensearch-dashboards-functional-test

      - name: Capture failure screenshots
        uses: actions/upload-artifact@v4.4.0
        if: failure()
        with:
          name: cypress-screenshots-${{ matrix.os }}
          path: opensearch-dashboards-functional-test/cypress/screenshots

      - name: Capture test video
        uses: actions/upload-artifact@v4.4.0
        if: failure()
        with:
          name: cypress-videos-${{ matrix.os }}
          path: opensearch-dashboards-functional-test/cypress/videos
